@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* variables */

:root {
  --font: Poppins, Arial, sans-serif;

  --dark: #0c0c0c;
  --black: #000000;
  --white: #ffffff;
  --text: #b8b8b8;
  --darker: #262626;

  --gradientDegree: 135deg;

  --navHeightDesktop: 60px;
  --navHeightMobile: 110px;
  --borderRadius: 5px;

  --duration: 0.2s;
}

/* resets */
* {
  box-sizing: border-box;
  font-family: var(--font);
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  background: var(--black);
}

body {
  font-family: var(--font);
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-decoration: none solid rgb(184, 184, 184);
  word-spacing: 0;
  background-color: var(--black);
  color: var(--text);
  min-height: 100%;
  transition: all 0.1s ease 0.1s;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.wrapper {
  position: relative;
  z-index: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/*===================
      navbar 
====================*/
.site-header {
  display: flex;
  align-items: center;
  color: var(--white);
  background: var(--dark);
  min-height: 5rem;
  width: 100%;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  z-index: 3;
  /* margin-top: 0.8125rem; */
}

.btn-header {
  padding: 0 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-logo {
  cursor: pointer;
  text-decoration: none;
  /* margin-left: 0.75rem; */
  min-height: inherit;
}

.btn-header img {
  max-width: 100%;
  width: 8rem;
  height: auto;
}

.site-nav {
  text-align: center;
  flex: 1 1;
  order: 2;
  flex-basis: 100%;
  min-height: inherit;
  display: flex;
}

.site-nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
  position: relative;
  /* top: 5px; */
}

.site-nav > ul li {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0);
  transition: all 0.2s ease-in;
  display: flex;
  align-items: center;
}

.site-nav > ul li:hover {
  border-bottom-style: solid;
  border-bottom-color: var(--white);
  background-color: var(--black);
}

.site-nav a {
  position: relative;
}

.site-nav span {
  transition: color 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  font-size: 0.875rem;
  padding: 1.25rem 1.5rem 1.25rem 1.5rem;
  color: var(--white);
  white-space: nowrap;
}

.nav-item {
  height: 100%;
  font-size: 1rem;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.nav-text {
  /* border: 1px solid var(--white); */
  color: var(--white);
  padding: 0 1.5rem 0 1.5rem;
}

.hire button {
  padding: 0.75rem 1rem;
  cursor: pointer;
  font-weight: 400;
  color: var(--white);
  border-radius: 0.3125rem;
  transition: all 0.2s ease-in;
}

.secondary {
  border: 1px solid #333;
  background: var(--darker);
  text-align: center;
}

.secondary:hover {
  background: var(--dark);
}

@media (min-width: 425px) {
  .site-nav > ul {
    justify-content: space-around;
  }
}

@media (max-width: 780px) {
  .site-nav {
    overflow-x: scroll;
    overflow-y: hidden;
  }
}

@media (min-width: 780px) {
  .site-header {
    margin-top: 0;
  }

  .site-nav {
    order: 0;
    flex-basis: initial;
    justify-content: center;
  }

  .main {
    padding: var(--navHeightDesktop) 0;
  }

  .site-header {
    padding: 0 2.5rem 0 2.5rem;
  }
}

.hire {
  display: flex;
  align-items: center;
  padding-right: 12px;
  margin-left: auto;
  min-height: inherit;
}
